doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet" href="/static/css/style.css")
  body(class="before-loaded")
    // before-load container 
    div(class="loading") 
      svg(class="loading-circle")
        circle(cx="50%" cy="50%" r="25")
    // Scene 0
    div(class="scene_container scene0")
      canvas(width="720" height="404" class="canvas_elem video")
      span(class="non-sticky intro_message") Hello BRO
      span(class="sticky_message message_1") Hello, I’m Daniel. How are you?
      span(class="sticky_message message_2") I’m so sorry that I couldn’t make it to the wedding
      span(class="sticky_message message_3") So, I’ve made this letter for you
    // Scene 1
    div(class="scene_container scene1")
      video(class="video_elem" autoplay muted loop)
        source(src="https://pub-b7f3edbf1c224a028525eec6746ddd09.r2.dev/sample3.mp4")
      span(class="sticky_message message_1")
        | As you can see, I wasn’t good at English before I went to the Australia
      span(class="sticky_message message_2")
        | But now, I can order some coffee in English when I go to cafes
      span(class="sticky_message message_3")
        | I’m very proud of myself.
      span(class="sticky_message message_4")
        | Before I went to Australia, I was really afraid of speaking English
      span(class="sticky_message message_5")
        | So I had no choice but to go to Australia back then
    // Scene 2
    div(class="scene_container scene2")
      // Scene 2 - Video 1
      video(class="video_elem video_1" autoplay muted loop)
        source(src="https://pub-b7f3edbf1c224a028525eec6746ddd09.r2.dev/s2video1.mp4")
      span(class="sticky_message video1_message1")
       | I wanted to improve my life and I realized I had to challenge myself
      span(class="sticky_message video1_message2")
       | I can’t believe I have been in Australia so far
      span(class="sticky_message video1_message3")
       | I think that life is like the same as I said before
      span(class="sticky_message video1_message4")
       | I think people can be grown up as much as they believe in themselves
      span(class="sticky_message video1_message5")
       | So that’s why I couldn’t be grown up, haha
       // Scene 2 - Video 2
      video(class="video_elem video_2" autoplay muted loop)
        source(src="https://pub-b7f3edbf1c224a028525eec6746ddd09.r2.dev/s2video2.mp4")
      span(class="sticky_message video2_message1")
       | Anyway, I hope you enjoy this letter,
      span(class="sticky_message video2_message2")
       | And I wish you have a good your married life
      span(class="sticky_message video2_message3")
       | I think the future has already been decided like fate, just like you got married
      span(class="sticky_message video2_message4")
       | and just like Jesus predicted
      span(class="sticky_message video2_message5")
       | But the story of going to the decided future is up to you
       // Scene 2 - Video 3
      video(class="video_elem video_3" autoplay muted loop)
        source(src="https://pub-b7f3edbf1c224a028525eec6746ddd09.r2.dev/s2video3.mp4")
      span(class="sticky_message video3_message1")
       | I believe that you can overcome any situation
      span(class="sticky_message video3_message2")
       | So I think I will be doing well here without worrying
      span(class="sticky_message video3_message3")
       | you don’t need to worry about me living in Australia as well
      span(class="sticky_message video3_message4")
       | Anyway, I hope you find happiness wherever you are
      span(class="sticky_message video3_message5")
       | I will see a lovely couple after I’m strong
      // Scene 2 - Video 4
      canvas(width='1920' height='1080' class="canvas_elem video_4")

    // Scene 3
    div(class="scene_container scene3")
      // Scene 3 - video(canvas)
      canvas(class="canvas_elem video" width="1080" height="1616")
      span(class="sticky_message video4_message1")
       |  결혼을
       br
       | 축하드립니다


    script(type="module" src="static/js/main.js")