// Default Setting
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}

body {
	overflow-x: hidden;
}

.scene_container {
	display: hidden;
	height: 100%;
}

.video_elem {
	position: fixed;
	opacity: 0;
	top: 50vh;
	left: 50vw;
	transform: translate3d(-50%, -50%, 0);
	height: 100%;
}

.sticky_message {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	top: 50vh;
	left: 50vw;
	opacity: 0;
	font-size: 2.5rem;
	font-weight: 700;
  z-index: 10;
	color: whitesmoke;
}

.intro_message {
	display: flex;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
	font-size: 5rem;
	font-weight: bold;
}

.canvas_elem {
	position: fixed;
	height: 100%;
	top: 50vh;
	left: 50vw;
	transform: translate3d(-50%, -50%, 0);
	opacity: 0;
	z-index: -1;
}

body#show-scene0 .scene0,
body#show-scene1 .scene1,
body#show-scene2 .scene2 {
	display: block;
}

body#show-scene0 .scene0 .canvas_elem,
body#show-scene1 .scene1 .video_elem,
body#show-scene2 .scene2 .canvas_elem {
	display: block;
}

// Setting Global style

canvas {
	z-index: -1;
}

.video_2,
.video_3 {
	transition: all 0.8s ease-in-out;
}

.video_1 {
	z-index: -4;
}

.video_4 {
	z-index: -3;
	background-color: gainsboro;
}
.video_2 {
	z-index: -2;
}

.video_3 {
	z-index: -1;
}


// before-loaded container

@keyframes circle-loading {
	0% {
		stroke-dashoffset: 157;
	}
	100% {
		stroke-dashoffset: -157;
	}
}

@keyframes circle-spin {
	100% {
		transform: rotateZ(360deg);
	}
}

.loading {
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	background: white;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	transition: 0.5s;
	opacity: 0;
}

.before-loaded .scnee_container {
	// display: none;
}


.loading-circle {
	width: 54px;
	height: 54px;
	animation: circle-spin 2s infinite linear;
}

.loading-circle circle {
	stroke: black;
	stroke-width: 4;
	stroke-dasharray: 157;
	fill: transparent;
	animation: circle-loading 0.7s infinite ease-in-out;
}

.before-loaded .loading {
	opacity: 1;
}

